* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.3);
}

/* Main */
.main-container {
    flex: 1;
}

/* Score */
.score {
    display: flex;
    justify-content: center;
}

.score > div {
    margin: 30px 30px 15px 30px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #d8be9b;
}

/* ListCards */
.list-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-row,
.bot-row {
    display: flex;
}

/* Cards */
.cards {
    border: 3px solid black;
    border-radius: 10px;
    margin: 15px;
    background-image: url(../assets/card.jpg);
    background-position: center;
    transition: all 0.2s ease;
}

.cards:hover {
    transform: scale(1.1);
}

.cards > img {
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}

.cards > div {
    border-top: 3px solid black;
    text-align: center;
    padding: 10px 0;
    font-size: 2rem;
}

/* Footer */
footer {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.3);
    color: white;
}
